body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main-div {
    height: 100vh;
}

.smaller-main-div {
    height: 85vh;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1F2937;
}

.navbar,
.content {
    width: 75vw;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 16px;
    padding: 16px 0;
}

.navbar a {
    color: #E5E7EB;
    text-decoration: none;
}

#header-logo {
    margin-right: auto;
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.content {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 8px;
}

.hero-card,
#hero-img {
    width: 480px;
    height: 320px;
}

.hero-card {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 8px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8
}

.hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    width: 128px;
    padding: 8px 20px;
    border: 0;
    border-radius: 12px;
    font-size: 18px;
    font-weight: bold;
}

button,
.reversed {
    background-color: #3882F6;
    color: #F9FAF8;
}

button:hover,
.reversed:hover {
    background-color: #F9FAF8;
    color: #3882F6;
}

.reversed {
    border: 2px solid #F9FAF8;
}

img {
    border: 4px solid #3882F6;
    border-radius: 16px;
}

.info-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.information-header-text {
    margin: 32px;
    font-size: 36px;
    color: #1F2937;
}

.cards {
    flex: 1;
    display: flex;
    align-items: center;
    width: 80vw;
}

.card {
    flex: 1 1 auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    width: 25vw;
}

.info-div img {
    width: 25vw;
}

.info-title {
    margin: 0;
    padding: 12px;
    text-align: center;
}

hr {
    width: 10vw;
}

.info-text {
    text-align: center;
}

.quote-div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    width: 75%;
}

.wrapper p {
    margin: 0;
}

.quote {
    font-size: 36px;
    color: #1F2937;
}

.quoter {
    align-self: flex-end;
    font-size: 24px;
    font-weight: bold;
}

.signup-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 75%;
    height: 30%;
    padding: 16px;
    border-radius: 16px;
    background-color: #3882F6;
}

.signup-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.signup-text * {
    margin: 0;
}

.signup-text h4 {
    font-size: 20px;
    color: #F9FAF8;
}

.signup-text p {
    color: #E5E7EB;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    color: #F9FAF8;
    background-color: #1F2937;
}